:root {
  --blue: #111110;
  --green: #4e272e;
  --red: 	#4e272e;
  --background: #EBEBEB;
  --shapes: #DAA520;
  --text-title: #111110;
  --text: #111110;
  --text-light: #A09CB1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}